# CDP Configuration
VITE_CDP_PROJECT_ID=example-id

# Ethereum Account type: "eoa" for regular accounts, "smart" for Smart Accounts (gasless transactions and improved UX)
VITE_CDP_CREATE_ETHEREUM_ACCOUNT_TYPE=smart

# Backend API URL
VITE_API_PREFIX=http://localhost:4000/api
