# CDP Configuration
VITE_CDP_PROJECT_ID=example-id

# Ethereum Account type: "eoa" for regular accounts, "smart" for Smart Accounts (gasless transactions and improved UX)
VITE_CDP_CREATE_ETHEREUM_ACCOUNT_TYPE=eoa
# Whether to create a Solana Account
VITE_CDP_CREATE_SOLANA_ACCOUNT=false

